<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>

</head>

<body>
    <div id="root">
        <header class="header">
            <div class="title-wrap wrap">
                <h1 class="title">eShop</h1>
            </div>


            <div class="header-wrap wrap">

                <div class="search">
                    <input type="text" class="goods-search" v-model="search" />
                    <button class="search-button" type="button" v-on:click="filterItems">Искать</button>
                </div>
                <!-- <button class="cart-button" type="button">Корзина</button> -->
                <button class="cart-button" type="button" v-on:click="isBasketVisible = !isBasketVisible">Корзина</button>
                <div v-if="isBasketVisible" class="basket">
                    <div class="basket-item" v-for="item in filteredItems">
                        <h3>{{ item.product_name }}</h3>
                        <p>{{ item.price }}</p>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="goods-list">
                <div class="goods-item" v-for="item in filteredItems">
                    <h3>{{ item.product_name }}</h3>
                    <p>{{ item.price }}</p>
                </div>
                <div class="goods-list-empty" v-if="filteredItems.length === 0">
                    <h2>Нет данных</h2>
                </div>
            </div>
        </main>
        <div>{{ calculatePrice }}</div>
    </div>

</body>

</html>